.container-menu {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(253, 253, 200);
    background-color: lightgray;
}

mat-sidenav {
    width: 100%;
    height: 100%;
}

mat-nav-list {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: auto;
    background-color: lightgray;
}

i {
    padding-right: .5rem;
    color: rgb(0, 0, 251);
}


.mat-drawer {
    background: lightgray;
}
