<mat-sidenav-container class="container-menu">
    <mat-sidenav mode="side" opened>
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Início    
            </a>
            <a routerLink="/participantes" mat-list-item>
                <i class="material-icons">person</i>
                Participantes    
            </a>
            <a routerLink="/planos" mat-list-item>
                <i class="material-icons">paid</i>
                Planos    
            </a>
            <a routerLink="/financeiro" mat-list-item>
                <i class="material-icons">savings</i>
                Financeiro    
            </a>
            <a routerLink="/simulacao" mat-list-item>
                <i class="material-icons">add_task</i>
                Simulações   
            </a>
            <a routerLink="/servicos" mat-list-item>
                <i class="material-icons">build</i>
                Serviços    
            </a>
            <a routerLink="/contato" mat-list-item>
                <i class="material-icons">contacts</i>
                Contato
            </a>
            <a routerLink="/login" mat-list-item>
                <i class="material-icons">door_front</i>
                Login
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
