
.allscreen {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    width: 100%;
    height: 100%;
    background: rgb(59, 59, 59);
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.menu {
    width: 15%;
    height: 100%;
    background-color: rgb(23, 23, 23);
    border: 3px groove gray;
    box-shadow: 2px 2px 5px black;  
    overflow-y: auto;
}

.workstation {
    width: 85%;
    height: 100%;
    background: rgb(84, 84, 84);
    border: 3px groove gray;
    box-shadow: 2px 2px 5px black;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.header {
    width: 100%;
    height: 6%;
}

.work {
    margin-top: 1rem;
    width: 100%;
    height: 89%;
    border: 3px groove gray;
}

.footer {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: left;
}